.circuit-title{
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
}
.circuit-subtitle{
  margin-top: -10px;
  font-size: 12px;
}

.circuit-para{
  font-size: 12px;
  margin-top: -10px;
}

.circuit-item{
  background-color: white; z-index: 2; box-shadow: 5px 5px 5px  grey;
  margin-bottom: 10px;
}
