ion-card{
    padding: 8px;
    margin: 0;
    height: 158px;
}

.items{
    margin-top:10px;
    border-radius: 10px;
}

.nom{
    font-weight: bolder;
    font-size: large;
}

.description{
    font-weight: bolder;
    font-size: large;
}

.main{
    margin-top: -20px;
}