.places{
  height: 150px;
  width: 150px;
  margin: 0;
  background-color: white;
  margin-left: 8px;
}

.ion-icon-item{
    font-size: 3em;
    margin: auto;
    margin-left: 54px;
    margin-top: 20px;
}

p{
    text-align: center;
    font-weight: bold;
    color: black;
    margin-left: 4px;
    margin-right: 4px;
    font-size: small;
    font-family: "opensans-light-bold";
}


.icon {
    font-size: 24px;
    margin-right: 16px;
}