ion-card{
  padding: 0;
  margin: 0;
}


.swiper-slide img {
  width: auto;
  max-width: 100%;
  height: 310px;
  max-height: 100%;
}

span{
  font-size: 12px;
  font-weight: bold;
  margin-left: 10px;
}

ion-icon{
  font-size: 1.8em;
  margin-top: 20px;
}

P{
  margin-left: 20px;
}

.item-div{
  border-left: lightgray 1px solid;
}

.item-div-2{
  border-right: lightgray 1px solid;
}
