<ion-header>
  <ion-toolbar>
    <ion-title>parametres</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item color="light" lines="none" style="margin-top: 20px;">
      <div>
        <p style="color: black;font-weight: bold;">Information de connexion</p>
        <p style="color: black;font-weight: bold;">Modifier</p>
      </div>
      <div slot="end">
        <ion-icon name="create" color="primary" class="ion-icon-1"></ion-icon>
      </div>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input type="text" placeholder="herveyves3@gmail.com" disabled="true"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Password</ion-label>
      <ion-input type="text" placeholder="************" disabled="true"></ion-input>
    </ion-item>
    <ion-item color="light" lines="none" style="margin-top: 20px;">
      <div>
        <p style="color: black;font-weight: bold;">Information d'application</p>
      </div>
    </ion-item>
    <ion-item>
      <p>Nous contacter</p>
    </ion-item>
    <ion-item>
      <p>Politique de confidentialités</p>
    </ion-item>
    <ion-item>
      <p>Condition d'utilisation</p>
    </ion-item>
    <ion-item lines="none">
      <ion-button expand="block" color="primary">Mise à jour</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
