<ion-header>
  <ion-toolbar>
    <ion-title>likes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-list lines="none">
    <ion-item color="light" lines="none" style="margin-top: 20px;">
      <p>
        Votre carnet d'adresse<br>
        Voici les différents lieux que vous aimer
      </p>
    </ion-item>
    <ion-item style="margin-bottom: 20px;">
      <ion-card style="margin-top: 20px">
        <img src="../../assets/396_photo_1.jpg">
        <p class="title">Saut de la Lézarde</p>
        <p class="subtitle">PETIT-BOURG</p>
      </ion-card>
    </ion-item>

    <ion-item>
      <ion-card>
        <img src="../../assets/396_photo_1.jpg">
        <p class="title">Saut de la Lézarde</p>
        <p class="subtitle">PETIT-BOURG</p>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>
