ion-card{
  margin: 0;
}

.title{
  margin-top: 10px;
  font-family: "opensans-light-bold";
  font-weight: bold;
  color: black;
}

.subtitle{
  font-weight: bold;
  font-size: small;
  font-family: "opensans-light-bold";
  color: black;
  margin-top: -10px;
}
